# Display Settings
resolution=1
fullscreen=true
borderless=false
gamma=1.000000
fov=90.000000

# Graphics Settings
engine=0
avatarshow=true
textureshow=true
framerate=-2147483648
vsync=true
antialiasing=true
motionblur=false

# Input Settings
mouse_sensitivity=-0.008475
invert_mouse_y=false

# Control Keys
move_forward=W
move_back=S
move_left=A
move_right=D
look_left=GLUT_KEY_LEFT
look_right=GLUT_KEY_RIGHT
look_up=GLUT_KEY_UP
look_down=GLUT_KEY_DOWN
# Volume Settings
master_volume=1.000000
lobby_volume=0.070000
game_volume=1.000000
effects_volume=1.000000
